{% block top_blocks %}
    <section class="row" data-equalizer="top-blocks" data-resize="top-blocks" data-events="resize">
        <section class="xmedium-6 columns cabinet-scroll">
            <article class="callout margin-info-xmedium clearfix" data-equalizer-watch="top-blocks" style="height: 331px;">
                <h5 class="callout small cabinet margins">Інформація</h5>
                <div class="column small-12">
                    <p class="first-paragraph" style="padding-top: 7px;">
                        Шановні студенти та співробітники СумДУ!
                    </p>
                    <p>
                        Електронний особистий кабінет – це єдине вікно доступу до
                        різноманітних інформаційних сервісів, які дозволять Вам зручно та своєчасно
                        отримувати персоналізовану інформацію щодо Вашого навчання та роботи в СумДУ.
                    </p>
                    <p>
                        УВАГА! Електронний особистий кабінет працює у тестовому режимі.
                        Просимо вибачення за можливі незручності.
                    </p>
                    <p>
                        Технічна підтримка: <a href="mailto:cabinet@sumdu.edu.ua">cabinet@sumdu.edu.ua</a>
                    </p>        </div>
            </article>
        </section>
        <section class="xmedium-6 columns float-right">
            <div class="callout paddings margin-info-xmedium" data-equalizer-watch="top-blocks" style="height: 331px;">
                <article class="m-h100">
                    <h5 class="callout cabinet small one-icon">Користувач</h5>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="small-12 column none">
                        <h4 class="large-4 xmedium-2 medium-2 xxsmall-2 small-3 column none">
                                Вошли как: {{ app.user.username }}</h4>
                        <div id="avatar" class="large-4 xmedium-4 medium-3 xxsmall-4 xlsmall-5 ssmall-7 small-12 column none ssmall-text-right small-text-left">
                            <div id="person-photo" class="person-photo">

                            </div>
                        </div>
                    </div>
                </article>
                <nav class="clearfix negative-m-t">
                    <a href="" class="button m-t" title="Налаштування">Вхідні документи <b>(1)</b></a>
                    <a href="" class="button m-t" title="Налаштування">Вихідні документи</a>
                    <a href="/logout" class="button m-t" title="Вихід">Вихід</a>
                </nav>
                {% else %}
                    <form action="{{ path('login') }}" method="post">
                    <div class="small-12">
                            <label for="username">Логін:</label>
                            <input type="text" id="username" name="_username" />

                            <label for="password">Пароль:</label>
                            <input type="password" id="password" name="_password" />
                            <input type="hidden" name="_target_path" value="/" />
                        <nav class="clearfix">
                            <button class="button m-t" type="submit">Вхід</button>
                        </nav>
                    </div>

                    </form>
                {% endif %}
            </div>
        </section>
    </section>
{% endblock %}