{% extends 'document/index.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script defer src="/public/js/document/view.js"></script>
    <script>
        var id = {{ document.id }};
    </script>
{% endblock %}


{% block block_primary %}
    {% if templateUploaded == false %}Увага! Цей документ не має шаблону у форматі .docx{% endif %}
{% endblock %}


{% block content %}
    <section class="row">
        <div class="small-12 column">
            <div class="callout clearfix margin-info">
                <h5 class="callout cabinet small margins min">
                    <span>{{ document.name }}</span>
                </h5>
                <div class="small-12 column">
                    <form id="document-form">
                        {% for element in elements %}
                            {{ block("element", "document/view.form_builder.html.twig") }}
                        {% endfor %}
                    </form>
                </div>



            </div>
        </div>
    </section>

    {% if templateUploaded == true %}
    <section class="row">
        <div class="small-12 column">
            <div class="callout clearfix margin-info">
                <h5 class="callout cabinet small margins min">
                    <span>Попередній перегляд</span>
                </h5>
                <div class="small-12 column text-center">
                    <button id="button-preview-pdf" class="button m-t">PDF</button>
                    <button id="button-preview-jpg" class="button m-t">JPEG</button>
                    <div id="document-preview" class="padding-top">

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}